{% extends "base.html" %}
{% block title %}Snowmenu{% endblock %}
{%block head%} {% endblock %}

{% block content %}

<div id="main" class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>Tag Name</th>
                <th>Score</th>
            </tr>
            {% for tag in c['tags'] %}
                <tr>
                    <td>{{ tag[0].tag_name }}</td>
                    <td>{{ tag[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
